$primary: rgb(229, 236, 244);
$body-bg: rgb(202, 239, 238);
$color: black;

@import '~bootstrap/scss/bootstrap.scss';



.my-flix {
    color: $color;
}

.button-primary {
    padding: 4px 12px 4px 12px;
    color: rgb(229, 236, 244);
    background-color: black;
    border: none;
    border-radius: 4px;
    width: 70px;
    margin-top: 10px;
    border: 2px solid black;
}

.card {
    border: 2px solid black;
}